 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">BE in Computer Engineering</h4>
    <h5 class="meta">Institute Of Knowledge College Of Engineering,Pune</h5>
    <div class="time">2010 - 2014</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Computer Science</h4>
    <h5 class="meta">Jawahar Navodaya Vidyalaya,Bhusawal</h5>
    <div class="time">2008 - 2010</div>
</div><!--//item-->
</div><!--//education-container-->