<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">iOS Developer</h3>
                            <div class="time">June,2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Benchmark IT Solutions Pvt. Ltd, Pune,India</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>JOB RESPONSIBILITIES:
1. Design and build advanced applications for the iOS platform
2. Collaborate with cross-functional teams to define, design, and ship new features.
3. Unit-test code for robustness, including edge cases, usability, and general reliability.
4. Work on bug fixing and improving application performance.
5. Continuously discover, evaluate, and implement new technologies to maximize development efficiency.
 </p>
                    </div><!--//details-->
                </div><!--//item-->
 