<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">iOS Developer</h3>
                            <div class="time">June,2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Benchmark IT Solutions Pvt. Ltd, Pune,India</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>JOB RESPONSIBILITIES:
1. Design and build advanced applications for the iOS platform
2. Collaborate with cross-functional teams to define, design, and ship new features.
3. Unit-test code for robustness, including edge cases, usability, and general reliability.
4. Work on bug fixing and improving application performance.
5. Continuously discover, evaluate, and implement new technologies to maximize development efficiency.
 </p>
                    </div><!--//details-->
                </div><!--//item-->
         <!--       
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Google, London</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UI Developer</h3>
                            <div class="time">2012 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Amazon, London</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                    </div><!--//details-->
                </div><!--//item-->
              //Commmented For Future Reference—>  
            </section><!--//section-->