<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <!--<div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div>//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">UKTenantData (Enterprise Application)</a></span> - <span class="project-tagline">The application is based on Tenant management system.It involves creating new application, adding applicants, scanning their documents and syncing them etc.
.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">GSI (Geo Spatial Innovations)-(Enterprise Application)</a></span> - 
                    <span class="project-tagline">The application is based on creating networks in the GSI system. It involves adding various points on the map, assigning properties according to the map type, drawing network, Calculating angles of rotation and distance between two points, downloading maps for offline use, Syncing data with server etc. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">HomeAutoApp</a></span> - <span class="project-tagline">HomeAuto is designed for DIY home automation/security systems. Be it a DIY or commercial systems, use your API to configure app and connect all your home automation/security devices.
<p><a href="https://itunes.apple.com/us/app/homeautoapp/id1154398561?mt=8">Find HomeAutoApp on iTunes here</a></p>

</span>
                </div><!--//item-->
               <!-- <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div>//item-->
            </section><!--//section-->