<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Objective-C</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="95%”>
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Swift</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level=“85%”>
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Xcode</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="95%”>
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Sqlite,Core Data,FMDB &amp; Realm</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%”>
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Web Services</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level=“96%”>
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Architecture Design</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level=“85%”>
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                </div>  
            </section><!--//skills-section-->